@model CheckOut.ViewModels.ChecklistViewModel

<div class="text-center">
    <h2>Create New Checklist</h2>

    <form method="post" asp-action="Create">
        <h3>Checklist Title</h3>
        <input type="text" name="Title" id="title" required />

        <h3>ToDo Tasks</h3>
        <div id="todos">
            <input type="textbox" name="ToDoDescriptions" placeholder="ToDo 1" /><br>
        </div>

        <button type="button" id="addToDo">Add ToDo</button><br>
        <button type="submit">Create Checklist</button>
    </form>
</div>

<script>
    // Add a new ToDo
    let count = 2;
    document.getElementById('addToDo').addEventListener('click', function () {
    const container = document.getElementById('todos');

    const newInput = document.createElement('input');
    newInput.type = 'text';
    newInput.name = 'ToDoDescriptions';
    newInput.placeholder = 'ToDo ' + count++;

    const breakLine = document.createElement('br');

    container.appendChild(newInput);
    container.appendChild(breakLine);
    });
</script>