@model List<CheckOut.Models.ToDo>

<h2>My toDos</h2>

<form asp-action="Delete" method="post">
    <ul>
        @foreach (var toDo in Model)
        {
            <li>
                <label>
                    <input type="checkbox" name="selectedIds" value=" ToDoId" />
                     toDo.Title
                </label>
            </li>
        }
    </ul>
    <button type="submit">Delete Selected</button>
</form>
