@model CheckOut.Models.User

<div class="text-center">
    <form method="post" asp-action="Register">
        <h2>Create New Account</h2>

        <div class="border-top border-bottom py-3 my-3">
            <div class="row justify-content-center">
                <div class="col-sm-6"> 

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label text-end">
                            <h5 class="mb-0">Username</h5>
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="username" placeholder="Enter Username" required />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label text-end">
                            <h5 class="mb-0">Password</h5>
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="password" name="password" placeholder="Enter Password" required />
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label class="col-sm-4 col-form-label text-end">
                            <h5 class="mb-0">Confirm Password</h5>
                        </label>
                        <div class="col-sm-8">
                            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required />
                        </div>
                    </div>

                    <div class="pt-3 mt-3">
                        <button class="btn btn-primary btn-lg" type="submit">Create Account</button>
                    </div>

                </div> 
            </div>
        </div>
    </form>

    <div class="border-top border-bottom py-3 my-3">
        <a class="text-decoration-none" asp-controller="Users" asp-action="Login">Already have an account? Login here</a>
    </div>
</div>
